<div class="container">

    <h1 class="mt-3" i18n>Smart fridges in my filials:</h1>

    <div class="d-flex justify-content-end mt-4">
        <a [routerLink]="['/organization', organizationId, 'fridge-use-requests']" class="btn mx-2 btn-primary" [style]="['display: inline-block']" i18n>Answer fridge use requests by Food suppliers</a>
        <a [routerLink]="['/organization', organizationId, 'add-fridge-request']" class="btn btn-success" i18n>Make request for Smartfridge installation</a>
    </div>

    <ng-container *ngIf="fridges$ | async as fridges">
        <table class="table mt-3 table-bordered table-striped">
            <thead>
                <tr>
                    <th i18n>Filial</th>
                    <th i18n>Location description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fridge of fridges">
                    <td>{{fridge.filial.name}}</td>
                    <td>{{fridge.placementDescription}}</td>
                    <td class="text-center">
                        <div class="d-inline-block">
                          <a [routerLink]="['/organization', organizationId, 'edit-fridge', fridge.id]" class="btn btn-warning mx-2" i18n>Manage fridge</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>

</div>

<div class="container">

    <h1 class="mt-5" i18n>My requests about fridge installation:</h1>

    <ng-container *ngIf="requests$ | async as requests">
        <ng-container *ngIf="requests.length > 0; else noRequests">
            <table class="table mt-3 table-bordered table-striped">
                <thead>
                    <tr>
                        <th i18n>Filial</th>
                        <th i18n>Location description</th>
                        <th i18n>Creation date</th>
                        <th i18n>Request status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let request of requests">
                        <td>{{request.filialOfInstall.name}}</td>
                        <td>{{request.placementDescription}}</td>
                        <td>{{request.requestTime | date: 'dd.MM.yyyy' }}</td>
                        <td>{{request.status}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </ng-container>

    <ng-template #noRequests>
        <div class="alert alert-info" role="alert" i18n>
            You have no Smartfridge installation requests yet. Make one!
        </div>
    </ng-template>

</div>