<p-toast></p-toast>
<div class="container">

    <h1 class="mt-3" i18n>Database backups created:</h1>

    <div class="d-flex justify-content-end mt-4">
        <a (click)="onCreateBackup()" class="btn mx-2 btn-success" 
        [style]="['display: inline-block']" pButton pRipple label="Success" i18n>Create a new DB backup</a>
    </div>

    <ng-container *ngIf="backups$ | async as backups; else noBackupsCreated">
        <table class="table mt-3 table-bordered table-striped">
            <thead>
                <tr>
                    <th i18n>File name</th>
                    <th i18n>Created at</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let backup of backups">
                    <td>{{backup.fileName}}</td>
                    <td>{{backup.createdAt | date}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>

    <ng-template #noBackupsCreated>
        <div class="alert alert-info" role="alert" i18n>
            There are no DB backups created yet.
        </div>
    </ng-template>
</div>

