<nav class="navbar navbar-expand-lg bg-dark p-3" data-bs-theme="dark">
    <div class="container-fluid">
      <!-- <img src="/src/assets/logo.png" alt="Logo" width="24" height="24" class="d-inline-block align-text-top"> -->
      <a class="navbar-brand" href="#">🍔 Smart Food </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']" i18n>About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#our-suppliers" i18n>Food suppliers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#our-clients" i18n>Client organizations</a>
          </li>

          <ng-container *ngIf="user?.roles?.includes(role.Admin)">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" i18n>
              Super admin panel
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['admin/fridge-installation-requests']" i18n>Manage fridge installation requests</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="['admin/food-suppliers-management']" i18n>Manage food suppliers</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="['admin/organizations-management']" i18n>Manage companies</a></li>
            </ul>
          </li>
          </ng-container>

        </ul>
        <div class="d-flex">  
          <ng-container *ngIf="user === undefined; else showLogout">
           <!-- Show Login button -->
           <a [routerLink]="['/login']" class="btn btn-primary" i18n> <i class="bi bi-person-hearts"></i> Log in to join the program!</a>
          </ng-container> 

          <ng-template #showLogout> 
           <div class="d-flex align-items-center">
             <span>{{user?.name}}</span>

            <ng-container *ngIf="user?.roles?.includes(role.Supplier) && supplier">
                <a [routerLink]="['food-supplier', supplier.id, 'menu']" class="btn btn-success ms-3" i18n>My menu</a>
                <a [routerLink]="['food-supplier', supplier.id, 'requests']" class="btn btn-success ms-3" i18n>My requests</a>
            </ng-container> 

            <ng-container *ngIf="user?.roles?.includes(role.OrganizationManager) && organization">
                <a [routerLink]="['organization', organization.id, 'smartfridges-list']" class="btn btn-success ms-3" i18n>My fridges</a>
                <a [routerLink]="['organization', organization.id, 'filials']" class="btn btn-success ms-3" i18n>My filials</a>
            </ng-container>
            
            
             <button class="btn btn-outline-danger ms-3" (click)="onLogout()" i18n><i class="bi bi-person"></i> Log out</button>
           </div>
          </ng-template>
       </div>
      </div>
    </div>
  </nav>
