<div class="container mt-3">
    <h2 class="title" i18n>About us</h2>
</div>

<div class="container mt-3 mb-4 border-bottom border-top hero">
    <div class="row">
        <!-- Картинка -->
        <div class="col-md-6">
            <img src="assets/fridge.png" alt="fridge" class="img-fluid">
        </div>
        
        <!-- Описание "Кто мы" и "Цель" -->
        <div class="col-md-6">
            <h2 i18n>Who are we?</h2>
            <p i18n>We are the providers of System for ordering and managing smart fridge devices and food suppliers for them. <br><br> 
            We are here to connect office owners and food suppliers to make a lunch for the client company empoloyees just a <b>choose office -> choose dish -> pick it up from the _ fridge -> enjoy!</b><br>
            </p>
            
            <h2 i18n>How it works?</h2>
            <p i18n><i class="bi bi-balloon-heart"></i> If you are a <b>company owner</b> - you leave a request for fridges installation, choose the food suppliers and that`s it! Any other troubles are no longer your concern.
                <br><br>
                <i class="bi bi-balloon-heart-fill"></i> If you are a <b>food supplier</b> - you choose the fridges you want to deliver dishes to, wait for the fridge owner company approval of your menu and start delivering! You will receive the payments for each dish taken, the messages about dishes left amount and the menu statistics to improve your service and enlarge profit.

            <h2 i18n>What`s the purpose?</h2>
            <p i18n><b>We are here to provide a smart lunches for your coworkers. </b>
            <br><br>They will no longer need to leave office to have lunch, your delivery system will be automatized. Fill the fridge in your space and make an order in a few clicks and do not worry about thesupport - we take this responsibility.
            </p>
        </div>
    </div>
</div>

<div class="container title-container" id="our-clients">
    <h2 i18n>We are already providing our services for: </h2>
    <app-client-list></app-client-list>
</div>

<div class="container title-container" id="our-suppliers">
    <h2 i18n>The smart food providers ready to deliver to your fridges: </h2>
    <app-suppliers-list></app-suppliers-list>
</div>
