<div class="container">
    <div class="mt-5">
      <div class="col-12 col-md-8 col-lg-6 mx-auto">
        <h1 i18n>Add a new filial of the organization</h1>
  
        <form #form="ngForm" (ngSubmit)="onFormSubmit()">
          <div class="mt-5 col-12">
            <span class="p-float-label">
              <input
                pInputText
                id="name"
                name="name"
                [(ngModel)]="model.name"
                class="col-12"
                required
                minlength="2"
                #nameField="ngModel"
              />
              <label htmlFor="name" i18n>Filial name</label>
            </span>
  
            <div
              *ngIf="nameField.invalid && (nameField.dirty || nameField.touched)"
            >
              <div
                *ngIf="nameField?.errors?.['required']"
                class="alert alert-danger col-12" i18n
              >
                Name is required.
              </div>
              <div
                *ngIf="nameField?.errors?.['minlength']"
                class="alert alert-danger col-12" i18n
              >
                Name must be at least 2 characters long.
              </div>
            </div>
          </div>
  
          <div class="mt-4 col-12">
            <span class="p-float-label">
              <textarea
                id="address"
                name="address"
                rows="5"
                [(ngModel)]="model.address"
                class="col-12"
                pInputTextarea
                #addressField="ngModel"
                required
                minlength="5"
                maxlength="300"
              ></textarea>
              <label for="address" i18n>Filial address</label>
            </span>
  
            <div
              *ngIf="
              addressField.invalid &&
                (addressField.dirty || addressField.touched)
              "
            >
              <div
                *ngIf="addressField?.errors?.['maxlength']"
                class="alert alert-danger col-12" i18n
              >
                Dish description maximum size is 300 characters.
              </div>
              <div
                *ngIf="addressField?.errors?.['required']"
                class="alert alert-danger col-12" i18n
              >
                Address is required.
              </div>
              <div
                *ngIf="nameField?.errors?.['minlength']"
                class="alert alert-danger col-12" i18n
              >
                Address must be at least 5 characters long.
              </div>
            </div>
          </div>
  
          <div class="mt-4 flex-column align-items-center">
            <button
              type="submit"
              [disabled]="
                nameField.invalid ||
                addressField.invalid 
              "
              class="btn btn-success btn-block mt-3 btn-lg w-100"
              i18n
            >
              Add filial
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
